h1 {
    font: 5em/1.5 el-messiri;
    color: #000000;
    text-align: center;
    padding-bottom: 15px;
  }

p {
  font: 1.05em/1.5 quattrocento, Lucida-Sans, sans-serif;
  color:#000000;
}

li {
  float: left;
}

li a {
  color: #000000;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

nav li {
     margin-top: 0;
  }

a {
  color:#12c0dd;
  font: 1.05em/1.5 Nunito, Lucida-Sans, sans-serif;
}
